<mat-toolbar color="primary">
    
  <nav>
   <a routerLink="/entrant" >Абитуриенту</a>
  </nav>
    <a class="example-fill-remaining-space"></a>
  <nav>
    <a routerLink="/lifeInDorm" >Жизнь в общежитии</a>
  </nav>
    <a class="example-fill-remaining-space"></a>
  <nav>
      <a routerLink="/studentCouncil">Студенческий совет</a>
   </nav>
   <a class="example-fill-remaining-space"></a>

   <nav>
      <a routerLink="/contacts">Контакты</a>
   </nav>
   <a class="example-fill-remaining-space"></a>
  </mat-toolbar>
  <router-outlet></router-outlet>
  